@model CodersPortal.Models.IndexViewModel

@*<body onload="loadComments(@Model.commentList)">*@
    @{
        ViewBag.Title = "Details";
    }

    <h2>@Model.singleArticle.Title</h2>

    <div>
        <h4>Author: @Model.singleArticle.Author</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Image:
            </dt>

            <dd>
                <a href="@Model.singleArticle.ImageUrl"><img src="@Model.singleArticle.ImageUrl" height="100" width="100" /></a>
            </dd>
            <dt>
                Author:
            </dt>

            <dd>
                @Model.singleArticle.Author
            </dd>

            <dt>
                Title:
            </dt>

            <dd>
                @Model.singleArticle.Title
            </dd>

            <dt>
                Article:
            </dt>

            <dd>
                @Model.singleArticle.Article
            </dd>

            <dt>
                Article URL:
            </dt>

            <dd>
                <a href="@Model.singleArticle.OriginalUrl">@Model.singleArticle.OriginalUrl</a>
            </dd>

            <dt>
                Publish Date:
            </dt>

            <dd>
                @Model.singleArticle.PublishDate
            </dd>

        </dl>
    </div>
<br />
<br />
<div id="fullCommentSection">
    <div id="commentSection">
        @foreach (var item in Model.commentList)
        {
            <div id="label">
                <strong>@item.Name :</strong><br>@item.UserComment
            </div>
        }

    </div>
    <br />
    <form action="/NewsArticles/SaveComments" method="post">
        <textarea id='UserComment' name='UserComment'></textarea><br />
        <input type="text" name="NewsArticleId" value="@Model.singleArticle.NewsArticleId" hidden>
        <input type="text" name="Name" value="@Model.UserName" hidden>
        <br />
        <input type="submit" value="SaveComments">
    </form>
</div>
<style>
    #fullCommentSection{
        width:50%;
    }
    #label{
        border: 1px solid black;
        padding: 10px;
        background-color:#e5e8d5;
    }
    #UserComment{
        width: 100%;
    }
</style>
    @section Scripts {
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Articles.js"></script>
    }
@*</body>*@



@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NewsArticleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
